<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  th:replace="student/base::layout(~{::section},~{::title},~{::link},~{::script})"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
      <link th:src="@{/css/student/dashboard.css}">
  </head>
  <body>
    <section>
      
        

        <!-- Main Content -->
        <div class="m-3 flex-fill p-3">
          
            <h1>hello this is student dashboard</h1>
        </div>
    </section>
  <script></script>
  </body>
</html>
