<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  th:replace="admin/base::layout(~{::section},~{::title},~{::style},~{::script})"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Backlog Students</title>
    <style></style>
  </head>
  <body>
    <section>
      <div class="container flex-fill" style="width: 1250px">
        <div class="container mt-5">
          <h2 class="mb-4 text-center">Students With Current Backlog</h2>
          <table class="table table-bordered">
            <thead class="thead-dark">
              <tr>
                <th class="text-center" >ID</th>
                <th class="text-center" >Name</th>
                <th class="text-center" >Phone</th>
                <th class="text-center" >Email</th>
                <th class="text-center" >Backlog</th>
                <th class="text-center" >backlog subjects</th>
                <th class="text-center" >Current Backlog</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="s:${students}" th:if= "${s.backlog}">
                
                  <td class="text-center" th:text="${s.rollNo}">1</td>
                  <td class="text-center" th:text="${s.name}">himanshu</td>
                  <td class="text-center" th:text="${s.phone}">7709638870</td>
                  <td class="text-center" th:text="${s.email}">h@123</td>
                  <td class="text-center" th:text="${s.backlog?'yes':'no'}"></td>
                  <td class="text-center" th:text="${s.backSub}">sub</td>
                  <td class="text-center" th:text="${s.currentBacklog}">current backlog</td>
                
              </tr>

              <!-- Add more rows as needed -->
            </tbody>
          </table>
        </div>
      </div>
    </section>
  <script></script>
  </body>
</html>
